*, *::after, *::before{
 box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
 font-family: 'Roboto', sans-serif;
}
body{
  margin: auto;
  padding: 0px;
  max-width: 1920px;
}
header{
height: 100px;
width: 100%;
background: #6C63FF;

}
footer{
width: 100%;
height: 442px;
background-color: #6C63FF;
position: relative;
}
main{
  width: 100%;
  height: 983px;
  background: url(city.png);
}
.head{
  width: 1155px;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content:center;
  justify-content:space-between;
  padding-top: 42px;
  margin-right: 452px;
}
.info{
  list-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  margin: 0px;
}
.language{
  width: 143px;
  height: 28px;
  margin-left: 1468px;
}
.firsta{
  text-decoration: none;
  color: white;
}
.firsta:hover{
  padding-bottom: 5px;
  border-bottom: 1px white solid;
}
.seconda:hover{
  cursor: pointer;
  color: white;
}
.seconda{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size:
}
.seconda:hover{
  cursor: pointer;
  color: white;
}
li{
  display:inline-block;
  color:white;
}
.org{
font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #6C63FF;
padding-left: 315px;
padding-top: 257px;
}
.infosec{
background: #6C63FF;
border-radius: 20px;
width: 860px;
height: 285px;
margin-top: 43px;
margin-left: 311px;
}
.lorem{
font-weight: 500;
font-size: 20px;
line-height: 23px;
padding-top: 68px;
color: #FFFFFF;
padding-left: 48px;
padding-right: 47px;
padding-bottom: 67px;
}
.conth{
  font-size: 24px;
  font-weight: bold;
}
.contacts{
position: absolute;
top:40px;
left: 680px;
}
.lh{
line-height: 50px;
}
.n{
  margin-top: 15px;
}
.border{
  position: absolute;
  background-color: white;
  width: 5px;
  height: 306px;
  top:55px;
  left: 0;
  right: 0;
  margin:auto;
  border-radius: 2px;
}
.navig{
  position: absolute;
  line-height: 38px;
  right: 720px;
  top:40px;
}
.nav{
  color: white;
  text-decoration:  none;
  font-weight: bold;
}
.sircule{
  position:absolute ;
  top: 164px;
  left: 122px;
}
.leftbush{
  position: absolute;
  top: 336px;
}
.tree{
  position: absolute;
  top:49px;
  right: 123px;
}
.rightbush{
  position: absolute;
  top: 359px;
  right: 0;
}
.woman{
  position: absolute;
  top: 220px;
  right: 83px;
}
ul{
  font-weight: bold;
}
